In [4]:
import pandas as pd
import random
import numpy as np

In [5]:
df = pd.DataFrame(np.random.randint(0, 10, size=(3, 3)))

In [6]:
df

   0  1  2
0  7  4  0
1  2  1  8
2  1  1  5

In [7]:
df.values

array([[7, 4, 0],
       [2, 1, 8],
       [1, 1, 5]])

In [11]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [9]:
df.sum()

0    10
1     6
2    13
dtype: int64

In [13]:
class Car:
    def __init__(self, year_model, max_speed, speed):
        self.year_model = year_model
        self.speed = speed
        self.max_speed = max_speed

In [14]:
chao_car = Car(year_model='Smart', speed=0, max_speed=150)

In [15]:
chao_car.max_speed

150

In [17]:
class Car:
    def __init__(self, year_model='Clio', max_speed=None, speed=0):
        self.year_model = year_model
        self.speed = speed
        self.max_speed = max_speed

In [18]:
nacho_car = Car()

In [19]:
nacho_car.year_model

'Clio'

In [25]:
class Car:
    def __init__(self, year_model='Clio', max_speed=None, speed=0):
        self.year_model = year_model
        self.speed = speed
        self.max_speed = max_speed
    def accelerate(self, value):
        self.speed += value

In [26]:
nacho_car = Car()

In [34]:
nacho_car.accelerate(20)

In [28]:
nacho_car.speed

20

In [29]:
class Car:
    def __init__(self, year_model='Clio', max_speed=None, speed=0):
        self.year_model = year_model
        self.speed = speed
        self.max_speed = max_speed
    def accelerate(self, value):
        self.speed += value
    def boost(self):
        self.speed += 100

In [30]:
miquel_car = Car()

In [31]:
miquel_car.boost()

In [35]:
miquel_car.speed

100

In [36]:
lst = [1,2,3,4,5]

In [38]:
df.rename(columns={0: 'first'})

   first  1  2
0      7  4  0
1      2  1  8
2      1  1  5

In [39]:
df

   0  1  2
0  7  4  0
1  2  1  8
2  1  1  5

In [40]:
df.rename(columns={0: 'first'}, inplace=True)

In [41]:
df

   first  1  2
0      7  4  0
1      2  1  8
2      1  1  5